extends layout

block vars
  - var h1 = "Profile for " + otheruser.name
  - var thisUserId = user.id
  - console.log("USER ID: " + user.id);
  - console.log("OTHER USER ID: " + otheruser.id);

block content
    //h1 Users
    
    p
      a(href='/users/#{thisUserId}') Back to all profiles
    
    .row
      if others.length
        for user in others
          if user.id == otheruser.id
            .col-md-4.col-sm-6
              .panel.panel-default
                  .panel-heading #{otheruser.name}
                    .pull-right
                      button.btn.btn-success.btn-circle.btn-stoplight.green-button(type='button', name='otheruser[id]', value='#{otheruser.id}')
                      | &#x9;&#x9;&#x9;&#x9;
                      button.btn.btn-warning.btn-circle.btn-stoplight.yellow-button(type='button', name='otheruser[id]', value='#{otheruser.id}')
                      | &#x9;&#x9;&#x9;&#x9;
                      button.btn.btn-danger.btn-circle.btn-stoplight.red-button(type='button', name='otheruser[id]', value='#{otheruser.id}')
                  if user.color == 'green'
                    #panel-background.panel-body.user-panel-green
                      .user-picture
                        img(src='../../../pages/img/#{otheruser.picture}.png')
                  else if user.color == 'yellow'
                    #panel-background.panel-body.user-panel-yellow
                      .user-picture
                        img(src='../../../pages/img/#{otheruser.picture}.png')
                  else
                    #panel-background.panel-body.user-panel-red
                      .user-picture
                        img(src='../../../pages/img/#{otheruser.picture}.png')
                
      .col-md-8.col-sm-6
        h5 Major
        p #{otheruser.major}
        h5 Location
        p #{otheruser.location}
        h5 Relation to BLF
        p #{otheruser.blfrelation}
        h5 Biography
        p #{otheruser.bio}
                
block scripts
    script.
      $('.green-button').click( function() {
        var element = this;
        $.ajax({
            url: '/users/#{user.id}/profile/green',
            type: 'post',
            data: $(this),
            success: function(data) {
              $(element).closest('.panel').find('#panel-background').removeClass('user-panel-red').removeClass('user-panel-yellow').addClass('user-panel-green');
            }
        });
      });
      
      $('.yellow-button').click( function() {
        var element = this;
        $.ajax({
            url: '/users/#{user.id}/profile/yellow',
            type: 'post',
            data: $(this),
            success: function(data) {
              $(element).closest('.panel').find('#panel-background').removeClass('user-panel-red').removeClass('user-panel-green').addClass('user-panel-yellow');
            }
        });
      });
      
      $('.red-button').click( function() {
        var element = this;
        $.ajax({
            url: '/users/#{user.id}/profile/red',
            type: 'post',
            data: $(this),
            success: function(data) {
              $(element).closest('.panel').find('#panel-background').removeClass('user-panel-green').removeClass('user-panel-yellow').addClass('user-panel-red');
            }
        });
      });