extends layout

block vars
  - var h1 = "Logged in as: " + user.name

block content
    //h1 #{user.name}

    p
        a(href='/users') "Log Out" / Back to Everyone

    .row

      if following.length
          for other in following
              .col-md-3.col-sm-4
                  .panel.panel-default
                      .panel-heading #{other.name}
                        .pull-right
                          // <div class="btn-group">
                          button.btn.btn-success.btn-circle.btn-stoplight.green-button(type='button', name='user[id]', value='#{other.id}')
                          | &#x9;&#x9;&#x9;&#x9;
                          button.btn.btn-warning.btn-circle.btn-stoplight.yellow-button(type='button', name='user[id]', value='#{other.id}')
                          | &#x9;&#x9;&#x9;&#x9;
                          button.btn.btn-danger.btn-circle.btn-stoplight.red-button(type='button', name='user[id]', value='#{other.id}')
                      // /.panel-heading
                      #panel-background.panel-body.user-panel-green
                        .user-picture
                          img(src='../pages/img/sarah.png')
                          
      //else
      //    p #{user.name} isn't following anyone currently.

      if others.length
          for user in others
              .col-md-3.col-sm-4
                  .panel.panel-default
                      .panel-heading #{user.name}
                        .pull-right
                          // <div class="btn-group">
                          button.btn.btn-success.btn-circle.btn-stoplight.green-button(type='button', name='user[id]', value='#{user.id}')
                          | &#x9;&#x9;&#x9;&#x9;
                          button.btn.btn-warning.btn-circle.btn-stoplight.yellow-button(type='button', name='user[id]', value='#{user.id}')
                          | &#x9;&#x9;&#x9;&#x9;
                          button.btn.btn-danger.btn-circle.btn-stoplight.red-button(type='button', name='user[id]', value='#{user.id}')
                      // /.panel-heading
                      #panel-background.panel-body.user-panel-red
                        .user-picture
                          img(src='../pages/img/sarah.png')
                          
      else
          p There are no users.
         
    .row
      .col-md-4(style='padding-bottom: 100px')
        form(action='/users/#{user.id}', method='POST', onsubmit='return confirm("Are you sure?");')
          p And if you're feeling destructive…
          input(type='hidden', name='_method', value='DELETE')
          button.btn.btn-danger(type='submit', value='Delete User') Delete User

            // THIS IS FOR EDIT PROFILE PAGE BASICALLY BUT NOT HERE
            //    form(action='/users/#{user.id}', method='POST')
            //        p Edit this user:
            //        input(type='text', name='name', placeholder='#{user.name}', required)
            //        input(type='submit', value='Update')
            //
            //    form(action='/users/#{user.id}', method='POST', onsubmit='return confirm("Are you sure?");')
            //        p And if you're feeling destructive…
            //        input(type='hidden', name='_method', value='DELETE')
            //        input(type='submit', value='Delete User')
        
block scripts
    script.
      $('.green-button').click( function() {
        var element = this;
        $.ajax({
            url: '/users/#{user.id}/follow',
            type: 'post',
            data: $(this),
            success: function(data) {
              $(element).closest('.panel').find('#panel-background').removeClass('user-panel-red').removeClass('user-panel-yellow').addClass('user-panel-green');
            }
        });
      });
      
      $('.yellow-button').click( function() {
        var element = this;
        $.ajax({
            url: '/users/#{user.id}/yellow',
            type: 'post',
            data: $(this),
            success: function(data) {
              $(element).closest('.panel').find('#panel-background').removeClass('user-panel-red').removeClass('user-panel-green').addClass('user-panel-yellow');
            }
        });
      });
      
      $('.red-button').click( function() {
        var element = this;
        $.ajax({
            url: '/users/#{user.id}/unfollow',
            type: 'post',
            data: $(this),
            success: function(data) {
              $(element).closest('.panel').find('#panel-background').removeClass('user-panel-green').removeClass('user-panel-yellow').addClass('user-panel-red');
            }
        });
      });